Body{
  font-family: Arial; margin-top:1%
}
nav{
  background: #008000;
  height: 80px;
  width: 100%;
  font-weight: bold;
}
h1{ background: #ff0000;
  padding: 0 600px;
 }
nav ul li{ 
  display: inline;
  justify-content: Space-between;
  line-height: 80px;
  font-size: 20px;
  margin: 0 50px;
  text-transform: uppercase;
}
nav li a:hover{
  background:#ff8c69;
  transition: all.5s ease;
  }
section{
    
}
img{
  max-width: 400;
  max-height: 400;
  justify-content: center;

}
div{display: flex;
margin: 10px;
width: 320px;
height: 480px;
}
#border-img{border:25px solid blue;
padding: 5px}

footer{background: #ff0000;
  padding: 0 600px;}
