body {
background-color : #e89beb;
color : #fbfbfb;
font-family : Arial;
margin-top : 1%;
}
h1 {
background-color : #ce20a4;
color : #2533e5;
padding-left : 100px;
padding-top : 30px;
background-image : url(https://cdn.pixabay.com/photo/2022/04/30/19/12/cooking-banner-7166200_1280.jpg);
height : 100px;
}

footer {
position : absolute;
bottom : 0;
left : 0;
width : 100%;
height : 70px;
background-color : #ce20a4;
color : #2533e5;
text-align : center;
line-height : 70px;
}
