body {background-color: #e23de5;
  color:#f8f9f8;
  font-family: Arial; margin-top:1%}
h1{background-color: red;
  color: blue}
h2{background-color: pink;
  color: Black}
h3{background-color: pink;
  color: blue; text-transform: uppercase;}
ul{background-color: pink;
  color: brown}
