body {background-color: #e89beb;
  color: #fbfbfb;
  font-family: Arial; margin-top:1%}
h1{background-color: #ce20a4;
  color: #2533e5}
h2{background-color: #e89beb;
  color: #2533e5}
h3{background-color: pink;
  color: blue; text-transform: uppercase;}
ul{background-color: pink;
  color: #f7f6f7}
